{% set squarePaymentsCreditCardPluginOptions = {
    salesChannelAccessKey: context.salesChannel.accessKey,
    mode: config('SquarePayments.config.mode'),
    threeDS: config('SquarePayments.config.threeDS'),
    applicationIdSandbox: config('SquarePayments.config.applicationIdSandbox'),
    applicationIdProduction: config('SquarePayments.config.applicationIdProduction'),
    locationIdSandbox: config('SquarePayments.config.locationIdSandbox'),
    locationIdProduction: config('SquarePayments.config.locationIdProduction'),
    paymentMode : config('SquarePayments.config.paymentMode'),
    amount: page.extensions.squarepayments.amount ?? 0,
    currency: context.currency.shortName ?? '',
    isPaymentForm: true,
    translations: {
        cardNumberPlaceholder: ('squarepayments.credit_card.cardNumberPlaceholderText' | trans),
        cvvPlaceholder: ('squarepayments.savedCards.cvv' | trans),
        expiryDatePlaceholder: ('squarepayments.credit_card.expiryDatePlaceholderText' | trans),
        pleaseEnterValidExpirationDate: ('squarepayments.savedCards.pleaseEnterValidExpirationDate' | trans),
        monthInvalid: ('squarepayments.savedCards.monthInvalid' | trans),
        expirationDatePast: ('squarepayments.savedCards.expirationDatePast' | trans),
        cardFieldsNotLoaded: ('squarepayments.savedCards.cardFieldsNotLoaded' | trans),
        cardVerificationFailed: ('squarepayments.savedCards.cardVerificationFailed' | trans),
        paymentSetupFailed: ('squarepayments.savedCards.paymentSetupFailed' | trans),
        paymentSetupError: ('squarepayments.savedCards.paymentSetupError' | trans),
        saveCardFailed: ('squarepayments.savedCards.saveCardFailed' | trans),
        saveCardError: ('squarepayments.savedCards.saveCardError' | trans),
        authenticationFailed: ('squarepayments.savedCards.authenticationFailed' | trans),
        authenticationError: ('squarepayments.savedCards.authenticationError' | trans),
        requiredField: ('squarepayments.savedCards.requiredField' | trans),
        requiredCheckbox: ('squarepayments.savedCards.requiredCheckbox' | trans),
        processing: ('squarepayments.savedCards.processing' | trans),
        subscriptionConfirmation: ('squarepayments.savedCards.subscriptionConfirmation' | trans)
    }
} %}
{% set isSubscription = false %}
{% for lineItem in page.cart.lineItems %}
    {% if lineItem.payload is defined and lineItem.payload.isSubscription is defined and lineItem.payload.isSubscription %}
        {% set isSubscription = true %}
    {% endif %}
{% endfor %}
{% set squarePaymentsCreditCardPluginOptions = squarePaymentsCreditCardPluginOptions|merge( { isSubscription: isSubscription } ) %}

<div class="payment-form">
    <div class="payment-form squarepayments-credit-card">
        {% if context.customer is defined and not context.customer.guest %}
            <div id="saved-cards-section" class="form-group saved-cards-section" style="display: none">
                <label for="savedCards">{{ 'squarepayments.savedCards.savedCards' | trans }}</label>
                <select id="savedCards" class="form-select" name="savedCards">
                    <option value="new">{{ 'squarepayments.savedCards.useNewCardLabel' | trans }}</option>
                </select>
            </div>
        {% endif %}
        <div id="newCardForm">
            <div id="payment-form">
                <div id="payment-status-container"></div>
                <div id="card-container"></div>
            </div>
            {% if context.customer is defined and not context.customer.guest %}
                <div class="form-group save-card" style="display:none">
                    <input type="checkbox" id="saveCard" name="saveCard" >
                    <label for="saveCard">{{ 'squarepayments.savedCards.saveCard' | trans }}</label>
                </div>
            {% endif %}
            {% set squarePaymentsCreditCardPluginOptions = squarePaymentsCreditCardPluginOptions|merge( {
                billing:{
                    givenName: context.customer.firstName ?? '',
                    familyName: context.customer.lastName ?? '',
                    email: context.customer.email ?? '',
                    phone: context.customer.defaultBillingAddress.phoneNumber ?? '',
                    street: context.customer.defaultBillingAddress.street ?? '',
                    addressLine1: context.customer.defaultBillingAddress.additionalAddressLine1 ?? '',
                    addressLine2: context.customer.defaultBillingAddress.additionalAddressLine2 ?? '',
                    city: context.customer.defaultBillingAddress.city ?? '',
                    state:  context.customer.defaultBillingAddress.countryState.shortCode ?? '',
                    country: context.customer.defaultBillingAddress.country.iso ?? '',
                }}) %}
        </div>
        <div id="step_up"></div>
    </div>
</div>
<template data-square-payments-credit-card
          data-square-payments-credit-card-options='{{ squarePaymentsCreditCardPluginOptions|json_encode|escape('html_attr') }}'></template>
